extends layout

block content
  .jumbotron
    .container
      h1 Welcome to Express
      p Created by Ivan Ivanou
      a.btn.btn-primary.btn-lg(href="#") Learn More &raquo;
        
  .container
    .row
      .col-md-4
        h2 About us
        p Created by Ivan Ivanou
        a.btn.btn-default(href="#") View Details
          
      .col-md-4
        h2 Contact Us
        p Created by Ivan Ivanou
        a.btn.btn-default(href="#") View Details
          
      .col-md-4
        h2 Services
        p Created by Ivan Ivanou
        a.btn.btn-default(href="#") View Details
      
